body
{
	font-family: 'Roboto', sans-serif;
	line-height: 1.8;
}

.btn-primary{
	background-color: #1DB954;	
}

.quotes {display: none;}

footer h3
{
	margin-bottom: 15px;
	margin-top: 0;
}

h4 { text-transform: none }

p
{
	font-size: 17px;
	color: rgba(0,0,0,.7);
}

a, a:hover, a:focus, a:active, a.active
{
	color: rgba(0, 0, 0, 0.87);
	outline: 0px none;
	text-decoration: none !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	color: rgba(255, 255, 255, 0.87);
  background-color: #222222;
}

li.active{
	height: 51px;
  background-color: white;
}
.navbar .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
	color: #1DB954;
}

.carousel
{
    text-align: center;
    color: #434343;
    /*background: #4ec9f4;*/
}

.carousel img
{
    display: block;
    margin: 0 auto 20px;
}

.carousel .intro-text .name
{
    display: block;
    text-transform: uppercase;
    font-family:Junction,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;

}

.carousel .intro-text .skills
{
    font-size: 1.25em;
    font-weight: 300;
}

.carousel .carousel-image
{
	width: 100%;
	height: 0;
	padding-bottom: 42%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.carousel .carousel-screen
{
	width: 100%;
	height: 0;
	padding-bottom: 80%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.carousel h3
{
	font-weight: initial;
	font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: initial;
}

.logo { width: 40px }

.navbar-fixed-top, .navbar-fixed-top.navbar-shrink
{
	padding: 20px;
	transition: none;
}

.navbar-brand
{
	padding: 0;
	height: auto;
}

header
{
	color: #5d5d5d;
	text-align: left;
	background-color: #ffffff;
}

.carousel-caption{
	text-align: left;
	right: 0;
	left: 0;
	top: 0;
}

h2{ color: #5d5d5d}

header section .container
{
	padding-top: 125px;
	padding-bottom: 25px;
}
section .container, section .container-fluid
{
	padding-top: 2em;
	padding-bottom: 4em;
}
section{
	padding: 0px;
}
#about{
	padding-top: 90px;
}
/*section h2 { margin-bottom: .5em }*/

/* Allow multiple images to be displayed in a line */
header img { display: inline }


hr.primary
{
    /*margin: 25px auto 30px;*/
		margin-top: 0;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 1px;
    text-align: center;
    border-color: #777;
}

hr.primary:before
{
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
    color: #2c3e50;
    background-color: #fff;
}

hr.primary.white { border-color: #fff }

hr.fa
{
	display: block;
	line-height: inherit;
}

#projects td {vertical-align: top}
#projects td.desc p {font-size: 14px}
#projects .icons
{
	width: 100%;
	text-align: center;
}

#projects td.img
{
	width: 150px;
	height: 150px;
}
.people-image
{
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	margin-bottom: 2%;
	border-radius: 8px;

}
#projects .alum td.img
{
	width: 75px;
	height: 75px;
}
#projects .alum .icons { text-align: left; }
#projects .alum .fa-stack { font-size: 100%; }
#projects .alum .name { font-weight: bold; }

footer{
	width: 100%;
	bottom: 0;
}

.fa-linkedin:hover{
	color: #1DB954;
}
.fa-flickr:hover{
	color: #1DB954;
}
.fa-twitter:hover{
	color: #1DB954;
}
.fa-github:hover{
	color: #1DB954;
}
.fa-behance:hover{
	color: #1DB954;
}
.fa-envelope-o:hover{
	color: #1DB954;
}
.fa-graduation-cap:hover{
	color: #1DB954;
}
.quotes{
	color: #1DB954;
}
.hi{
	font-family: "Roboto",sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 25px;
	color: #5d5d5d;
	line-height: 44px;

}
.white_h2{
	font-size: 42px;
	line-height: 1.3;
	color: #5d5d5d;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0);
}

.tanmay{
	padding-top: 20% !important;
}
.hi_tanmay{
	width: 60%
}

.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: left;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 15px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
.lr {
  height: 25px;
  width: 1px;
  margin-left: 15px;
  background-color: #94D487;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Safari and Chrome */
}
.lr .rl {
  height: 25px;
  width: 1px;
  background-color: #94D487;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
	float: right;
}
.my_story{
	height: 25px;
	width: 25px;
}
.more{
	float: right;
}
.desc h3{
	text-transform: none;
	color: rgba(0, 0, 0, 0.87);
	-webkit-transition: color .50s ease;
  transition: color .50s ease;
}
.portfolio-item{
	border: 0px solid #ceebc8;
}
code{
	color: rgba(0, 0, 0, 0.87);
	background-color: #dff2db;
}
#hobby{
  text-align: left;
  background-color: #222222;
}

.site_map{
	max-width: 50%;
}

.footerh2{
	font-weight: 400;
}

#contact{
	text-align: left;
}

.contact_me_text{
	-webkit-transition: color .50s ease;
	transition: color .50s ease;
}

.contact_me_text div{
	font-size: 20px;
}
.icon{
	margin-right: 2%;
}
.passionate{
	float: left;
	margin-right: 1%;
}

h5{
	text-transform: none;
}

.first_question{
	color: #FF1F0F;
}

.second_question{
	color: #FFA33B;
}

.sideprojects-image{
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-bottom: 2%;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: 15px;
}
.ribbon-green {
  font-size: 12px;
  color: #DAECF2;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}
.ribbon-green:before,
.ribbon-green:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #1DB954;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #94D487;
}

.modal-h4{
	font-weight: 700;
}

.modal-h5{
	font-size: 17px;
	color: rgba(0,0,0,.7);
}

.fa-5{
	font-size: 5em !important;
	color: #1DB954;
}

.lower_case{
	text-transform: none;
}
/*On hover css*/
h3:hover{
	color: rgb(132, 187, 121);
}

.mag{
    cursor:url(projects/linkedin/affinity_diagram_copy.cur), pointer;
}

.mag{
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.contact_me_text:hover{
	color: rgb(132, 187, 121);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	.logo{
		width: 10%;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
.logo{
	width: 20%;
}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
	.logo{
		width: 20%;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
.logo{
	width: 20%;
}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
.logo{
	width: 20%;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
.logo{
	width: 20%;
}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
.logo{
	width: 10%;
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
.logo{
	width: 10%;
}
.white_h2{
	font-size: 16px;
}
.hi{
	font-size: 14px;
	color: #5d5d5d;
	line-height: 15px;
}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
.logo{
	width: 10%;
}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
.logo{
	width: 10%;
}
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
.logo{
	width: 10%;
}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
.logo{
	width: 10%;
}
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
.logo{
	width: 10%;
}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
\	.logo{
		width: 10%;
	}
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
	.logo{
		width: 10%;
	}
	.white_h2{
		font-size: 16px;
		line-height: 1.3;
		color: #5d5d5d;
		text-shadow: 0 1px 2px rgba(255, 255, 255, 0);
	}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
.logo{
	width: 10%;
}
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
	.logo{
		width: 10%;
	}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
.logo{
	width: 10%;
}
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
.logo{
	width: 10%;
}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
.logo{
	width: 10%;
}
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
.logo{
	width: 10%;
}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
.logo{
	width: 10%;
}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
	.logo{
		width: 10%;
	}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
.logo{
	width: 10%;
}
}
